.header-shop-img{
    float:right;
    font-size: 15px;
    width: 40px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.container {
    width: 100%;
    padding-top: 5px;
    background-color:bisque;
    border-radius: 2vh;
    border-width: 2%;
}

.row h2 {
    background-color: gray;
}

#spek p{
    margin: 5;
    padding: 0;
}

.info p {
    padding: 0;
    margin: 0;
}